<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>e-RUN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
				<key>dateExpires</key>
				<string>1/15/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>8.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8100E55C6E719EB922281A2A336FF2B8C1602ADC</string>
						<key>dateExpires</key>
						<string>1/15/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T3RU77H8QP</string>
						<key>name</key>
						<string>Young Il Yu</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T3RU77H8QP.com.kjs.erun</string>
				<key>com.apple.developer.team-identifier</key>
				<string>T3RU77H8QP</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>e-RUN.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d5d2c919-104c-40dc-83be-bdf68e6ecc55</string>
				<key>dateExpires</key>
				<string>1/15/26</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.kjs.erun</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T3RU77H8QP</string>
				<key>name</key>
				<string>Young Il Yu</string>
			</dict>
			<key>versionNumber</key>
			<string>2.7</string>
		</dict>
	</array>
</dict>
</plist>
